## Python Assessment.

**Duration: 2 hours**

Please save and upload the Jupyter notebook with the following format
*YourName_Assesment_python.ipynb*

You are allowed to check class material and exercises; but not generative AI such as chat gpt.  

The exam also uses two different files. Place them in the same directory as the jupyter notebook, but you do not need to upload those as part of the exam since I will have them already. However, do not modify the files: I should be able to open my own version with your code.

The exam consists of 10 questions. (each worth 10 points)
For the question with several parts, each part contributes cumulatively to the grade of the question. 
I will evaluate : Correctness of the answer, clarity of code, appropriate use of markdown to present the solutions.

***You are allowed to check class material and exercises; but not generative AI such as chat gpt.***

## Question 1

- i) Create a nd.array (call it mySeq) with a sequence with the numbers from 2 to 100 (included)
- ii) Transform this nd.array into a list (call it myList)
- iii) Then create a tuple in which the first element is the nd.array, and the second element is the list
- iv) Is it possible to modify the elements of the list INSIDE the array? Reason or ilustrate your answer.

## Answer 1

In [6]:
import numpy as np

# i) Create a nd.array (call it mySeq) with a sequence with the numbers from 2 to 100 (included)
Sequence1 = np.arange(2, 101)  

# ii) This code will convert the nd.array into a list
List1 = Sequence1.tolist()  

#  iii) This will create a tuple with the nd.array and the list
Tuple1 = (Sequence1, List1)

iv) No, it's not possible to modify elements of the list inside the array because a numpy array stores elements of a single data type, and it doesn't support
storing objects of variable length (like lists) inside the array.

In [8]:
# Explanation with code for above answer
try:
    Tuple1[0][0] = [10, 20, 30]  # Try to assign a list to the first element of the array
except ValueError as e:
    print("Error:", e)

Error: setting an array element with a sequence.

## Question 2

- i) Create a set (call it mySet) with all the numbers from 0 to 100 included.
- ii) Transform this set to a list (call it myList)
- iii) Using myList, use list comprehensions to create another list (call it SecondList) in which each element is a number with the LAST DIGIT of the corresponding element in myList. That is, 
[2, 105, 38]  will transform into [2, 5, 8]

## Answer 2

In [10]:
# i) Create a set with all the numbers from 0 to 100 included
set1 = set(range(101))

# ii) Transform the set into a list
myList = list(set1)

# iii) Using myList, use list comprehensions to create another list (call it SecondList) in which each element is a number with the LAST DIGIT of the corresponding element in myList. That is, 
#[2, 105, 38]  will transform into [2, 5, 8]
SecondList = [int(str(num)[-1]) for num in myList]

# Print SecondList
print(SecondList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

## Question 3

- You have the following list: v =[2, 5, 9, 6, 4, 10]. 

- Write a for loop to print each element of the list

- Now, write another for loop to print the elements in reverse (that is, 10, 4, 6, ...)

## Answer 3

In [11]:

v = [2, 5, 9, 6, 4, 10]

# for loop to print each element of the list
print("Elements of the list:")
for element in v:
    print(element)

# another for loop to print the elements in reverse
print("\nElements of the list in reverse:")
for element in reversed(v):
    print(element)

Elements of the list:
2
5
9
6
4
10

Elements of the list in reverse:
10
4
6
9
5
2

## Question 4

- Using pandas library, read the file irisData.csv, using the apropriate arguments to obtain a proper dataframe (call it df)
- Change the name of the columns to ['sep_L', 'sep_W', 'pet_L', 'pet_W', 'Species']
- Create another dataframe (call it df_2) that only contains the data points for which Species is equal to 2.
- Give the code to save the df_2 dataframe as a csv file, with a ';' as separator.

## Answer 4

In [12]:


import pandas as pd

# Reading irisData.csv into a DataFrame df
df = pd.read_csv("irisData.csv", header=None, names=['sep_L', 'sep_W', 'pet_L', 'pet_W', 'Species'])

# Creating another DataFrame df_2 containing data points where Species is equal to 2
df_2 = df[df['Species'] == 2]

# Saving df_2 as a CSV file with ';' as separator
df_2.to_csv("df_2.csv", sep=';', index=False)

## Question 5

Let v = [1,2,1,3,1,4,1,5,1,6,1,7,1,8,1,9,1,10,1,11,1,12,1,13,1,14,1,15,1,16,1,17,1,18,1,19,1,20]
- Using a for loop, print all the numbers that are not 1
- Using a for loop, print all numbers that do not contain any 1 (for instance, 13 is not printed because it contains a 1)
- Using  for loop, print all numbers whose sum of digits is an even number. (for instance 15 because 1+5= 6, even)

## Answer 5

In [13]:
v = [1,2,1,3,1,4,1,5,1,6,1,7,1,8,1,9,1,10,1,11,1,12,1,13,1,14,1,15,1,16,1,17,1,18,1,19,1,20]

# Print all numbers in v that are not equal to 1
print("Numbers in v that are not 1:")
for num in v:
    if num != 1:
        print(num, end=' ')

# Print all numbers in v that do not contain any 1
print("\nNumbers in v that do not contain any 1:")
for num in v:
    if '1' not in str(num):
        print(num, end=' ')

# Print all numbers in v whose sum of digits is even
print("\nNumbers in v whose sum of digits is even:")
for num in v:
    if sum(int(digit) for digit in str(num)) % 2 == 0:
        print(num, end=' ')

Numbers in v that are not 1:
2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
Numbers in v that do not contain any 1:
2 3 4 5 6 7 8 9 20
Numbers in v whose sum of digits is even:
2 4 6 8 11 13 15 17 19 20

## Question 6
- Create a function (call is str2len) that takes a strings as argument and return the number of characters of that string. For instance str2len("Hello World") should give 11 as output
- Modify the previous function (call it str2len_unq) in such a way that it returns the number of unique characters in the string. For instance str2len_unq("Hello World") should give 8 as output

## Answer 6

In [15]:


def str2len(s):
    
    return len(s)

def str2len_unq(s):
    
    return len(set(s))

# Test the functions
input_str = "Hello World"
print("Number of characters in the string:", str2len(input_str))
print("Number of unique characters in the string:", str2len_unq(input_str))

Number of characters in the string: 11
Number of unique characters in the string: 8

## Question 7

Read the file num_data.csv, containing some numeric data. Call the dataframe `df_num`

- How many values are there in the y column such that y is more or equal to 6?
- How many data points are there such that x>y?
- What is the minimum y value? For which x value we can find the that minimum y value?

## Answer 7

In [26]:


import pandas as pd


df_num = pd.read_csv("num_data.csv")

num_y_ge_6 = df_num[df_num['y'] >= 6]['y'].count()
print("Number of values in the y column such that y is greater than or equal to 6:", num_y_ge_6)


num_x_gt_y = df_num[df_num['x'] > df_num['y']].shape[0]
print("Number of data points such that x is greater than y:", num_x_gt_y)


min_y_value = df_num['y'].min()
x_value_min_y = df_num[df_num['y'] == min_y_value]['x'].iloc[0]
print("Minimum y value:", min_y_value)
print("Corresponding x value for the minimum y value:", x_value_min_y)

Number of values in the y column such that y is greater than or equal to 6: 1395
Number of data points such that x is greater than y: 9512
Minimum y value: 1.6719022137126942
Corresponding x value for the minimum y value: 20.93

## Question 8

Using again num_data.csv and `df_num`:

- Select a dataframe with all values for which in which y<4 and x> 20. Call this new dataframe `sub_df_num`
- Create a new column in the sub_df_num dataframe called `z` with the sume of the existing columns, x + y

## Answer 8

In [27]:
# i) Select a dataframe with all values for which y<4 and x> 20
sub_df_num = df_num[(df_num['y'] < 4) & (df_num['x'] > 20)].copy()

#ii) Create a new column 'z' with the sum of existing columns x and y
sub_df_num['z'] = sub_df_num['x'] + sub_df_num['y']

# Display the modified dataframe
print(sub_df_num)

          x         y          z
0     26.56  1.750293  28.310293
4     41.68  2.303987  43.983987
5     23.64  1.692922  25.332922
6     60.97  3.385207  64.355207
9     44.53  2.437947  46.967947
...     ...       ...        ...
9990  67.82  3.882205  71.702205
9991  62.57  3.495270  66.065270
9993  58.57  3.226588  61.796588
9997  52.18  2.839714  55.019714
9999  35.82  2.054790  37.874790

[4931 rows x 3 columns]

## Question 9

Explain in your own  words: What is the difference between positional argument and keyword agument? Give an example with code.

## Answer 9

With positional arguments, position matters. If we remove one or move it around, the meaning changes. Keyword arguments don't care about position, which makes adding a new argument easy, especially if it has a default value (since callers don't have to change).

In [28]:
# Example for keyword arguments

def nameAge(name, age):
    print("Hi, I am", name)
    print("My age is ", age)
 
nameAge(name="Prince", age=20)
 
nameAge(age=20, name="Prince")

Hi, I am Prince
My age is  20
Hi, I am Prince
My age is  20

In [29]:
#Example for positional argument
def nameAge(name, age):
    print("Hi, I am", name)
    print("My age is ", age)
 
# You will get correct output because argument is given in order
print("Case-1:")
nameAge("Prince", 20)
# You will get incorrect output because argument is not in order
print("\nCase-2:")
nameAge(20, "Prince")

Case-1:
Hi, I am Prince
My age is  20

Case-2:
Hi, I am 20
My age is  Prince

## Question 10

The following code is a function that searches for the maximum value of a list. However, there are 2 bugs. Can you find them and explain what the correct code should be?

In [30]:
def find_max(lst):
    max_val = lst[0]
    for val in lst:
        if val < max_val:
            max_val == val
    return max_val

## Answer 10

1. The comparison in the if statement should be checking if val is greater than max_val but it is checking if val is less than max_val, which is incorrect. 

2. The comparison operator "==" is used instead of the assignment operator "=" in the line max_val == val which is incorrect. This will not update the maximum value.