5.4_activity

1 Exercises

1.0.1 summarising with pandas

For each of the next exercises, create a new code cell and write your solution.

You will need the folder data_mixed in the same location as your notebook

1. Write a function that loads the csv files ^DJI.csv ^GSPC.csv, and
GermanDataClean_OUT.csvand returns a dictionary with keys df1, df2, df_options,
and values the pandas dataframes with the informations of teh files ^DJI.csv ^GSPC.csv,
and GermanDataClean_OUT.csv respectively.

In [17]:
import pandas as pd

def load_csv_files():
    folder_path = "data_mixed/"
    df1 = pd.read_csv(folder_path + "^DJI.csv")
    df2 = pd.read_csv(folder_path + "^GSPC.csv")
    df_options = pd.read_csv(folder_path + "GermanDataClean_OUT.csv")
    
    return {"df1": df1, "df2": df2, "df_options": df_options}

# Example usage:
dataframes_dict = load_csv_files()

2. What are the number of lines and number of columns of df1, df2, df_options?

In [18]:
for key, dataframe in dataframes_dict.items():
    num_rows, num_columns = dataframe.shape
    print(f"DataFrame {key} has {num_rows} rows and {num_columns} columns.")

DataFrame df1 has 1259 rows and 7 columns.
DataFrame df2 has 17308 rows and 7 columns.
DataFrame df_options has 4327 rows and 8 columns.

3. Using the .info() method, describe the datatypes of the columns on each of the dataframes.

In [19]:
for key, dataframe in dataframes_dict.items():
    print(f"\nDataFrame {key} info:")
    print(dataframe.info())

DataFrame df1 info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1259 non-null   object
 1   Open       1259 non-null   float64
 2   High       1259 non-null   float64
 3   Low        1259 non-null   float64
 4   Close      1259 non-null   float64
 5   Adj Close  1259 non-null   float64
 6   Volume     1259 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.0+ KB
None

DataFrame df2 info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17308 entries, 0 to 17307
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       17308 non-null  object
 1   Open       17308 non-null  float64
 2   High       17308 non-null  float64
 3   Low        17308 non-null  float64
 4   Close      17308 non-null  float64
 5   Adj Close  17308 non-null  float64
 6   Volume     17308 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 946.7+ KB
None

DataFrame df_options info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4327 entries, 0 to 4326
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TradeDate         4327 non-null   object
 1   Currency          4327 non-null   object
 2   OptionType        4327 non-null   object
 3   Ticker            4327 non-null   object
 4   TradedStockPrice  4327 non-null   float64
 5   NumOptions        4327 non-null   int64
 6   Strike            4327 non-null   int64
 7   ExpiryDate        4327 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 270.6+ KB
None

4. For each numeric variable in the data sets, give the mean, standard deviation, maximum ,
minimum values

In [21]:
for key, dataframe in dataframes_dict.items():
    print(f"\nSummary statistics for DataFrame {key}:")
    print(dataframe.describe(include='all'))

Summary statistics for DataFrame df1:
              Date          Open          High           Low         Close  \
count         1259   1259.000000   1259.000000   1259.000000   1259.000000
unique        1259           NaN           NaN           NaN           NaN
top     2014-09-25           NaN           NaN           NaN           NaN
freq             1           NaN           NaN           NaN           NaN
mean           NaN  21188.623193  21286.748301  21083.127467  21191.645970
std            NaN   3578.285028   3591.107044   3563.662531   3577.178399
min            NaN  15676.259766  15897.820313  15370.330078  15660.179688
25%            NaN  17840.714844  17919.484375  17751.384765  17841.299805
50%            NaN  20715.410156  20792.199219  20660.679688  20728.490234
75%            NaN  24835.834961  24950.750000  24718.365235  24832.790039
max            NaN  27364.689453  27398.679688  27294.169922  27359.160156

           Adj Close        Volume
count    1259.000000  1.259000e+03
unique           NaN           NaN
top              NaN           NaN
freq             NaN           NaN
mean    21191.645970  2.281002e+08
std      3577.178399  1.416805e+08
min     15660.179688  4.035000e+07
25%     17841.299805  1.007850e+08
50%     20728.490234  2.373700e+08
75%     24832.790039  3.151350e+08
max     27359.160156  2.190810e+09

Summary statistics for DataFrame df2:
              Date          Open          High           Low         Close  \
count        17308  17308.000000  17308.000000  17308.000000  17308.000000
unique       17308           NaN           NaN           NaN           NaN
top     1950-01-03           NaN           NaN           NaN           NaN
freq             1           NaN           NaN           NaN           NaN
mean           NaN    562.223261    565.530248    558.728235    562.347006
std            NaN    667.237622    670.571447    663.625164    667.331694
min            NaN     16.660000     16.660000     16.660000     16.660000
25%            NaN     85.737499     86.397501     85.019997     85.739998
50%            NaN    165.539993    166.345001    164.834999    165.539993
75%            NaN   1089.989990   1097.084961   1080.044983   1089.920013
max            NaN   2936.760010   2940.909912   2927.110107   2930.750000

           Adj Close        Volume
count   17308.000000  1.730800e+04
unique           NaN           NaN
top              NaN           NaN
freq             NaN           NaN
mean      562.347006  9.110549e+08
std       667.331694  1.539511e+09
min        16.660000  6.800000e+05
25%        85.739998  8.850000e+06
50%       165.539993  9.114500e+07
75%      1089.920013  1.167475e+09
max      2930.750000  1.145623e+10

Summary statistics for DataFrame df_options:
         TradeDate Currency OptionType Ticker  TradedStockPrice   NumOptions  \
count         4327     4327       4327   4327       4327.000000  4327.000000
unique         901        1          2      8               NaN          NaN
top     19/11/2015      USD        PUT   AMZN               NaN          NaN
freq             9     4327       2197    610               NaN          NaN
mean           NaN      NaN        NaN    NaN        115.402071   500.402126
std            NaN      NaN        NaN    NaN        155.382578   288.989783
min            NaN      NaN        NaN    NaN          1.590000     0.000000
25%            NaN      NaN        NaN    NaN         26.429512   250.000000
50%            NaN      NaN        NaN    NaN         57.959999   510.000000
75%            NaN      NaN        NaN    NaN        126.190002   750.000000
max            NaN      NaN        NaN    NaN        844.359985   990.000000

             Strike  ExpiryDate
count   4327.000000        4327
unique          NaN        1382
top             NaN  28/07/2014
freq            NaN          13
mean     114.922348         NaN
std      155.535605         NaN
min        1.000000         NaN
25%       26.000000         NaN
50%       58.000000         NaN
75%      125.000000         NaN
max      880.000000         NaN