3.5_activity

February 6, 2023

1 Exercises

1.0.1 list comprehensions

For each of the next exercises, create a new code cell and write your solution In this section,;
loops are not allowed; only list comprehensions

1. Let mylist=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15 ]. Using mylist, create a newlist in
which each element is half the value of the original list

In [6]:
x = 0
mylist = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
new_list = []
for num in mylist:
    x = num/2
    new_list.append(x)
    print(x)

0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5

2. Same as before, but not including the elements divisible by 4

In [7]:
x = 0
mylist = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
new_list = []
for num in mylist:
    x = num/2
    if num % 4 == 0:
        continue
    new_list.append(x)
    print(x)

0.5
1.0
1.5
2.5
3.0
3.5
4.5
5.0
5.5
6.5
7.0
7.5

3. Let mytext="There are 1000 houses and 30 buildings in 3 states". create a list containing only the numbers of this string.

In [19]:
mytext = "There are 1000 houses and 30 buildings in 3 states"
words = mytext.split()
numbers = []

for word in words:
    if word.isdigit():
        numbers.append(int(word))

print(numbers)

[1000, 30, 3]

4. Let list2=[‘John’, ‘Peter’, ‘Mary’, ‘Anna’] create a new list in which each elements
the length of the name in list2

In [11]:
list2 = ['john','Peter','Marry','Anna']

list3 = []

for name in list2:
    len_name = len(name)
    list3.append(len_name)
print(list3)

[4, 5, 5, 4]

5. Using again list2; create a new list in which each element is a tuple with 2 values, the name
in uppercase, and the length of the name

In [18]:
list = ['john','Peter','Marry','Anna']
list4 = []

for name in list:
    cap_name = name.upper()
    len_name = len(name)
    list4.append((cap_name,len_name))

print(list4)

[('JOHN', 4), ('PETER', 5), ('MARRY', 5), ('ANNA', 4)]