<h1><center>2.3_activity</center></h1>

For each of the next 10 exercises, create a new code cell and write your solution.

1. Write a list containing a string, a float number, and a boolean number.

In [1]:
list1 = ["sikha", 0.5, True]
print(list1)

['sikha', 0.5, True]

2. Let a=[1,2] and b = [5,1]. what is the result of c=3*a + b?

In [2]:
a = [1,2]
b = [5,1]
c = 3*a+b
print(c)

[1, 2, 1, 2, 1, 2, 5, 1]

3. With the same lists as before, what is the result of (a==b)*a + (a<b)*b ?

In [3]:
print((a==b)*a+(a<b)*b)

[5, 1]

In [4]:
type(a)

list

4. Let a=(6,8,3,0) be a tuple. write a program that prints the second and last element of this
tuple

In [19]:
tuple1 = (6,8,3,0)
print(tuple1[2])
print(tuple1[3])

3
0

5. transform the previous tuple to a list and store the result in a variable called b.

In [49]:
b = list(tuple1)
print(b)
type(b)

[6, 8, 3, 0]

list

6. Insert the value "A" in the second position of the list b

In [50]:
b.insert(1,'A')
print(b)

[6, 'A', 8, 3, 0]

7. Delete the value 8 from the list

In [51]:
b.remove(8)

In [52]:
print(b)

[6, 'A', 3, 0]

8. Delete the first value of the list

In [53]:
del(b[0])

In [54]:
print(b)

['A', 3, 0]

9. Write a list such that the first element of the list is another list, the second element is a tuple,
and the third is a Set

In [70]:
mix_list = [[1,'a', True],[2,3,4],{5,7,8}]
print(mix_list)

[[1, 'a', True], [2, 3, 4], {8, 5, 7}]

10. Let a=(5,8,2,9, 5, 2) and b=(5,3,0,9, 3, 0) be two tuples. Transform the tuples into
sets and find their union, their intersections and the differences of each set with the other.

In [74]:
a1 = (5,8,2,9,5,2)
a2 = (5,3,0,9,3,0)
set1 = set(a1)
set2 = set(a2)
print(set.intersection(set1,set2))
print(set.difference(set1,set2))

{9, 5}
{8, 2}

11. Let names=["one", "two", "three"] and numbers=[1,2,3] two lists. Construct two dictionaries, one in which the names are the keys and the numbers the values, and another in
which the numbers are the keys and the names are the values

In [5]:
names = ["one","two","three"]
numbers = [1,2,3]
dict1 = {'one':'1' , 'two':'2' , 'three':'3'}
dict2 = {'1':'one' , '2':'two' , '3':'three'}
print(dict1)


print(dict2)

{'one': '1', 'two': '2', 'three': '3'}
{'1': 'one', '2': 'two', '3': 'three'}

Let mydict be a dictionary, and let a=mydict.keys() . What is the datatype of a? How can
you make a tuple with all the keys?

In [9]:
mydict = dict1
a = mydict.keys()
print("the data type of a is" , type(a))

the data type of a is <class 'dict_keys'>

In [10]:
keys_tuple = tuple(a)
keys_tuple

('one', 'two', 'three')